@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
body
  overflow-y hidden
  font-family 'Roboto'
.all-container
  width 5800px
  overflow hidden
  position relative
.graph
  float left
  clear both
  width 5500px
  padding 0px 0px
  position relative
  &.hb, &.hb .big-number-container
    background #e41a1c
  &.mox, &.mox .big-number-container
    background #377eb8
  &.mox2, &.mox2 .big-number-container
    background #4daf4a
  &.spd, &.spd .big-number-container
    background #984ea3
  &.alt, &.alt .big-number-container
    background #a65628
  &.cad, &.cad .big-number-container
    background #ff7f00
  svg
    path
      fill none
      stroke white
    circle
      fill white
  .big-number-container
    position absolute
    top 0px
    width 200px
    bottom 0px
    left (1920px - @width)
    // padding-top 3vh
    color white
    z-index 30
    .big-number-background
      position absolute
      top 0px
      left 0px
      bottom 0px
      width 100%
      background rgba(0,0,0,0.3)
    .big-number-texts
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
    .big-number
      font-weight 100
      text-align center
      font-size 5vh
      line-height @font-size
      z-index 50
      position relative
    .unit
      text-align center
      padding-top 5px
      font-weight 100
      font-size 16px
      z-index 50
      position relative
      white-space nowrap
  .x-lines
    position relative
    width 100%
    height 100%
    z-index 29
    top -17px
    left 0px
    pointer-events none
    .x-line
      position absolute
      top 0px
      color #f0
      background @color
      top 0px
      height 34px
      width 1px
      span
        position absolute
        top 9px
        text-shadow 0px 0px 3px black
        white-space nowrap
        &.time
          left 7px
        &.km
          right 7px
  &:last-of-type .x-lines
    display none

.highlighter
  position absolute
  top 0px
  bottom 0px
  pointer-events none
  z-index 10
  opacity 1
  transition opacity 0.2s
  div
    position absolute
    top 0px
    bottom 0px
    width 1990px
    background rgba(0,0,0, 0.3)
    &.start
      right 10px
    &.end
      left 10px
  span.hours
    position absolute
    left 18px
    color white

  &.invisible
    opacity 0
.highlighter-visible
  .big-number-background
  .map-container
    background rgba(0,0,0,0.35) !important

.bigfont
  .big-number
    font-weight 300 !important
  .unit
    font-size 24px !important
    font-weight 400 !important
  svg
    path
      stroke-width 2
    g.circle circle
      transform scale(2)

.position-line
  float left
  position fixed
  top 0px
  left 0px
  width 100%
  background #fa
  z-index 20
  .big-number-container
    right 0px
    left auto
    .big-number-texts
      color black
      margin-top 13px
  .map-container
    position absolute
    top 0px
    width 130px
    left 0px
    height 100%
    background transparent !importantb
  svg
    position absolute
    top 50%
    left 30px
    transform translate(0%, -50%)
    path
      stroke black
    circle
      fill #e41a1c
  .story
    position absolute
    top 0px
    left 0px
    bottom 0px
    width calc(100% - 200px)
    .content
      padding 10px 18px
      h2
        margin 0px
        margin-bottom 7px
      p
        margin 0px
    .arrows
      position absolute
      bottom 0px
      width 100%
      a
        position absolute
        cursor pointer
        &:hover
          text-decoration none
        bottom 6px
        &:first-child
          left 18px
        &:last-child
          right 18px
  .position-dots-container
    position absolute
    bottom 11px
    left 400px
    transform translate(-50%, 0)
    div
      float left
      width 6px
      height 6px
      background #c0
      border-radius 50%
      margin-right 5px
      transition background 0.2s
      &:last-child
        margin-right 0px
      &.active
        background ColorRed
